---
const {title, subhead, location, time, date, desc, image, link} = Astro.props
---

<article
  class="p-2 rounded-lg border border-gray-200 shadow-sm transition hover:shadow-lg sm:p-6  m-4 lg:w-1/4 w-full md:w-2/5"
>
  <a class="relative block h-48 overflow-hidden rounded">
    <img alt="image" class="block h-full w-full object-cover object-center cursor-pointer" src={image} />
  </a>

  <h3 class="mt-4 text-xs tracking-widest text-gray-500">{subhead}</h3>
  <a href={link} target="_blank" rel="noreferrer noopener">
    <h3 class="mt-0.5 text-lg font-medium text-gray-900">
      {title}
    </h3>
  </a>
  <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3">
    {desc}    
  </p>
  <p class="mt-2 text-sm leading-relaxed text-gray-500 line-clamp-3">
    {location} | {date} | {time}   
  </p>
  <a
    href={link}
    target="_blank"
    rel="noreferrer noopener"
    class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-emerald-600"
  >
    View More

    <span
      aria-hidden="true"
      class="block transition group-hover:translate-x-0.5"
    >
      &rarr;
    </span>
  </a>
</article>

